
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<div class="m-grid__item m-grid__item--fluid m-wrapper">

    <!-- BEGIN: Subheader -->
    
<!-- END: Subheader -->
    <div class="m-content">
    <!--Begin::Section Student Id Files and use file download -->
        <div class="row">
            <div class="col-xl-4">

                <!--begin:: Widgets/Announcements 1-->
                <div class="m-portlet m--bg-accent m-portlet--bordered-semi m-portlet--skin-dark m-portlet--full-height ">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Announcements
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover">
                                    <a href="#" class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl">
                                        <i class="la la-ellipsis-h m--font-light"></i>
                                    </a>
                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                        <div class="m-dropdown__inner">
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <ul class="m-nav">
                                                        <li class="m-nav__section m-nav__section--first">
                                                            <span class="m-nav__section-text">Quick Actions</span>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                                <span class="m-nav__link-text">Activity</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                                <span class="m-nav__link-text">Messages</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">FAQ</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                                <span class="m-nav__link-text">Support</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__separator m-nav__separator--fit">
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">Cancel</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="m-portlet__body">

                        <!--begin::Widget 7-->
                        <div class="m-widget7 m-widget7--skin-dark">
                            <div class="m-widget7__desc">
                                Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy euismod tinciduntut laoreet doloremagna
                            </div>
                            <div class="m-widget7__user">
                                <div class="m-widget7__user-img">
                                    <img class="m-widget7__img" src="../../assets/app/media/img//users/100_3.jpg" alt="">
                                </div>
                                <div class="m-widget7__info">
                                    <span class="m-widget7__username">
                                        Dan Bold
                                    </span><br>
                                    <span class="m-widget7__time">
                                        3 days ago
                                    </span>
                                </div>
                            </div>
                            <div class="m-widget7__button">
                                <a class="m-btn m-btn--pill btn btn-danger" href="#" role="button">All Feeds</a>
                            </div>
                        </div>

                        <!--end::Widget 7-->
                    </div>
                </div>

                <!--end:: Widgets/Announcements 1-->
            </div>
            <div class="col-xl-4">

                <!--begin:: Widgets/Download Files-->
                <div class="m-portlet m-portlet--full-height ">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Download Files
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">

                        <!--begin::m-widget4-->
                        <div class="m-widget4">
                            <div class="m-widget4__item">
                                <div class="m-widget4__img m-widget4__img--icon">
                                    <img src="../../assets/app/media/img/files/doc.svg" alt="">
                                </div>
                                <div class="m-widget4__info">
                                    <span class="m-widget4__text">
                                        Metronic Documentation
                                    </span>
                                </div>
                                <div class="m-widget4__ext">
                                    <a href="#" class="m-widget4__icon">
                                        <i class="la la-download"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="m-widget4__item">
                                <div class="m-widget4__img m-widget4__img--icon">
                                    <img src="../../assets/app/media/img/files/jpg.svg" alt="">
                                </div>
                                <div class="m-widget4__info">
                                    <span class="m-widget4__text">
                                        Make JPEG Great Again
                                    </span>
                                </div>
                                <div class="m-widget4__ext">
                                    <a href="#" class="m-widget4__icon">
                                        <i class="la la-download"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="m-widget4__item">
                                <div class="m-widget4__img m-widget4__img--icon">
                                    <img src="../../assets/app/media/img/files/pdf.svg" alt="">
                                </div>
                                <div class="m-widget4__info">
                                    <span class="m-widget4__text">
                                        Full Deeveloper Manual For 4.7
                                    </span>
                                </div>
                                <div class="m-widget4__ext">
                                    <a href="#" class="m-widget4__icon">
                                        <i class="la la-download"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="m-widget4__item">
                                <div class="m-widget4__img m-widget4__img--icon">
                                    <img src="../../assets/app/media/img/files/javascript.svg" alt="">
                                </div>
                                <div class="m-widget4__info">
                                    <span class="m-widget4__text">
                                        Make JS Great Again
                                    </span>
                                </div>
                                <div class="m-widget4__ext">
                                    <a href="#" class="m-widget4__icon">
                                        <i class="la la-download"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="m-widget4__item">
                                <div class="m-widget4__img m-widget4__img--icon">
                                    <img src="../../assets/app/media/img/files/zip.svg" alt="">
                                </div>
                                <div class="m-widget4__info">
                                    <span class="m-widget4__text">
                                        Download Ziped version OF 5.0
                                    </span>
                                </div>
                                <div class="m-widget4__ext">
                                    <a href="#" class="m-widget4__icon">
                                        <i class="la la-download"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="m-widget4__item">
                                <div class="m-widget4__img m-widget4__img--icon">
                                    <img src="../../assets/app/media/img/files/pdf.svg" alt="">
                                </div>
                                <div class="m-widget4__info">
                                    <span class="m-widget4__text">
                                        Finance Report 2016/2017
                                    </span>
                                </div>
                                <div class="m-widget4__ext">
                                    <a href="#" class="m-widget4__icon">
                                        <i class="la la-download"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!--end::Widget 9-->
                    </div>
                </div>

                <!--end:: Widgets/Download Files-->
            </div>
            <div class="col-xl-4">

                <!--begin:: Widgets/Announcements 2-->
                <div class="m-portlet m--bg-danger m-portlet--bordered-semi m-portlet--skin-dark m-portlet--full-height ">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Announcements
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover">
                                    <a href="#" class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl">
                                        <i class="la la-ellipsis-h m--font-light"></i>
                                    </a>
                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                        <div class="m-dropdown__inner">
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <ul class="m-nav">
                                                        <li class="m-nav__section m-nav__section--first">
                                                            <span class="m-nav__section-text">Quick Actions</span>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                                <span class="m-nav__link-text">Activity</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                                <span class="m-nav__link-text">Messages</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">FAQ</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                                <span class="m-nav__link-text">Support</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__separator m-nav__separator--fit">
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">Cancel</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="m-portlet__body">

                        <!--begin::Widget 7-->
                        <div class="m-widget7 m-widget7--skin-dark">
                            <div class="m-widget7__desc">
                                Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy euismod tinciduntut laoreet doloremagna
                            </div>
                            <div class="m-widget7__user">
                                <div class="m-widget7__user-img">
                                    <img class="m-widget7__img" src="../../assets/app/media/img//users/100_5.jpg" alt="">
                                </div>
                                <div class="m-widget7__info">
                                    <span class="m-widget7__username">
                                        Nick Mana
                                    </span><br>
                                    <span class="m-widget7__time">
                                        6 hours ago
                                    </span>
                                </div>
                            </div>
                            <div class="m-widget7__button">
                                <a class="m-btn m-btn--pill btn btn-accent" href="#" role="button">All Feeds</a>
                            </div>
                        </div>

                        <!--end::Widget 7-->
                    </div>
                </div>

                <!--end:: Widgets/Announcements 2-->
            </div>
        </div>
        <!--End::Section-->
    <!--Begin::Section Academic & Student INFO  -->
        <div class="m-portlet">
            <div class="m-portlet__body m-portlet__body--no-padding">
                <div class="row m-row--no-padding m-row--col-separator-xl">
                    <div class="col-md-12 col-lg-12 col-xl-4">

                        <!--begin:: Widgets/Stats2-1 -->
                        <div class="m-widget1">
                            <div class="m-widget1__item">
                                <div class="row m-row--no-padding align-items-center">
                                    <div class="col">
                                        <h3 class="m-widget1__title">Member Profit</h3>
                                        <span class="m-widget1__desc">Awerage Weekly Profit</span>
                                    </div>
                                    <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-brand">+$17,800</span>
                                    </div>
                                </div>
                            </div>
                            <div class="m-widget1__item">
                                <div class="row m-row--no-padding align-items-center">
                                    <div class="col">
                                        <h3 class="m-widget1__title">Orders</h3>
                                        <span class="m-widget1__desc">Weekly Customer Orders</span>
                                    </div>
                                    <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-danger">+1,800</span>
                                    </div>
                                </div>
                            </div>
                            <div class="m-widget1__item">
                                <div class="row m-row--no-padding align-items-center">
                                    <div class="col">
                                        <h3 class="m-widget1__title">Issue Reports</h3>
                                        <span class="m-widget1__desc">System bugs and issues</span>
                                    </div>
                                    <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-success">-27,49%</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--end:: Widgets/Stats2-1 -->
                    </div>
                    <div class="col-md-12 col-lg-12 col-xl-4">

                        <!--begin:: Widgets/Stats2-2 -->
                        <div class="m-widget1">
                            <div class="m-widget1__item">
                                <div class="row m-row--no-padding align-items-center">
                                    <div class="col">
                                        <h3 class="m-widget1__title">IPO Margin</h3>
                                        <span class="m-widget1__desc">Awerage IPO Margin</span>
                                    </div>
                                    <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-accent">+24%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="m-widget1__item">
                                <div class="row m-row--no-padding align-items-center">
                                    <div class="col">
                                        <h3 class="m-widget1__title">Payments</h3>
                                        <span class="m-widget1__desc">Yearly Expenses</span>
                                    </div>
                                    <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-info">+$560,800</span>
                                    </div>
                                </div>
                            </div>
                            <div class="m-widget1__item">
                                <div class="row m-row--no-padding align-items-center">
                                    <div class="col">
                                        <h3 class="m-widget1__title">Logistics</h3>
                                        <span class="m-widget1__desc">Overall Regional Logistics</span>
                                    </div>
                                    <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-warning">-10%</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--begin:: Widgets/Stats2-2 -->
                    </div>
                    <div class="col-md-12 col-lg-12 col-xl-4">

                        <!--begin:: Widgets/Stats2-3 -->
                        <div class="m-widget1">
                            <div class="m-widget1__item">
                                <div class="row m-row--no-padding align-items-center">
                                    <div class="col">
                                        <h3 class="m-widget1__title">Orders</h3>
                                        <span class="m-widget1__desc">Awerage Weekly Orders</span>
                                    </div>
                                    <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-success">+15%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="m-widget1__item">
                                <div class="row m-row--no-padding align-items-center">
                                    <div class="col">
                                        <h3 class="m-widget1__title">Transactions</h3>
                                        <span class="m-widget1__desc">Daily Transaction Increase</span>
                                    </div>
                                    <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-danger">+80%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="m-widget1__item">
                                <div class="row m-row--no-padding align-items-center">
                                    <div class="col">
                                        <h3 class="m-widget1__title">Revenue</h3>
                                        <span class="m-widget1__desc">Overall Revenue Increase</span>
                                    </div>
                                    <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-primary">+60%</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--begin:: Widgets/Stats2-3 -->
                    </div>
                </div>
            </div>
        </div>
        <!--End::Section-->
        <!--Begin::Section Timeline-1 -->
        <div class="m-portlet m-portlet--full-height">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Timeline Examples
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_widget2_tab1_content" role="tab" aria-expanded="true">
                                Last Month
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget2_tab2_content" role="tab" aria-expanded="false">
                                All Time
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="tab-content">
                    <div class="tab-pane active" id="m_widget2_tab1_content" aria-expanded="true">

                        <!--begin:Timeline 1-->
                        <div class="m-timeline-1 m-timeline-1--fixed">
                            <div class="m-timeline-1__items">
                                <div class="m-timeline-1__marker"></div>
                                <div class="m-timeline-1__item m-timeline-1__item--left m-timeline-1__item--first">
                                    <div class="m-timeline-1__item-circle">
                                        <div class="m--bg-danger"></div>
                                    </div>
                                    <div class="m-timeline-1__item-arrow"></div>
                                    <span class="m-timeline-1__item-time m--font-brand">11:35<span>AM</span></span>
                                    <div class="m-timeline-1__item-content">
                                        <div class="m-timeline-1__item-title">
                                            Users Joined Today
                                        </div>
                                        <div class="m-timeline-1__item-body">
                                            <div class="m-list-pics">
                                                <a href="../../#"><img src="assets/app/media/img/users/100_4.jpg" title=""></a>
                                                <a href="../../#"><img src="assets/app/media/img/users/100_13.jpg" title=""></a>
                                                <a href="../../#"><img src="assets/app/media/img/users/100_11.jpg" title=""></a>
                                                <a href="../../#"><img src="assets/app/media/img/users/100_14.jpg" title=""></a>
                                                <a href="../../#"><img src="assets/app/media/img/users/100_7.jpg" title=""></a>
                                                <a href="../../#"><img src="assets/app/media/img/users/100_3.jpg" title=""></a>
                                            </div>
                                            <div class="m-timeline-1__item-body m--margin-top-15">
                                                Lorem ipsum dolor sit amit,consectetur eiusmdd<br>
                                                tempors labore et dolore.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-timeline-1__item m-timeline-1__item--right">
                                    <div class="m-timeline-1__item-circle">
                                        <div class="m--bg-danger"></div>
                                    </div>
                                    <div class="m-timeline-1__item-arrow"></div>
                                    <span class="m-timeline-1__item-time m--font-brand">02:50<span>PM</span></span>
                                    <div class="m-timeline-1__item-content">
                                        <div style="height:170px;">
                                            <div style="height:100%;overflow:hidden;display:block;background: url(http://maps.googleapis.com/maps/api/staticmap?center=48.858271,2.294264&amp;size=640x300&amp;zoom=5&amp;key=AIzaSyBMlTEcPR5QULmk9QUaS7lwUK7qtabunEI) no-repeat 50% 50%;">
                                                <img src="http://maps.googleapis.com/maps/api/staticmap?center=48.858271,2.294264&amp;size=640x300&amp;zoom=16&amp;key=AIzaSyBMlTEcPR5QULmk9QUaS7lwUK7qtabunEI" style="" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-timeline-1__item m-timeline-1__item--left">
                                    <div class="m-timeline-1__item-circle">
                                        <div class="m--bg-danger"></div>
                                    </div>
                                    <div class="m-timeline-1__item-arrow"></div>
                                    <span class="m-timeline-1__item-time m--font-brand">02:58<span>PM</span></span>
                                    <div class="m-timeline-1__item-content">
                                        <div class="m-timeline-1__item-title">
                                            Latest News
                                        </div>
                                        <div class="m-timeline-1__item-body">
                                            Lorem ipsum dolor sit amit,consectetur eiusmdd<br>
                                            tempor incididunt ut labore et dolore magna enim<br>
                                            ad minim veniam nostrud.
                                        </div>
                                        <div class="m-timeline-1__item-actions">
                                            <a href="#" class="btn btn-sm btn-outline-brand m-btn m-btn--pill m-btn--custom">Read more...</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-timeline-1__item m-timeline-1__item--right">
                                    <div class="m-timeline-1__item-circle">
                                        <div class="m--bg-danger"></div>
                                    </div>
                                    <div class="m-timeline-1__item-arrow"></div>
                                    <span class="m-timeline-1__item-time m--font-brand">04:10<span>PM</span></span>
                                    <div class="m-timeline-1__item-content">
                                        <div class="m-timeline-1__item-title">
                                            My ToDo
                                        </div>
                                        <div class="m-list-badge m--margin-top-15">
                                            <div class="m-list-badge__label m--font-success">12:00</div>
                                            <div class="m-list-badge__items">
                                                <a href="#" class="m-list-badge__item">Hiking</a>
                                                <a href="#" class="m-list-badge__item">Lunch</a>
                                                <a href="#" class="m-list-badge__item">Meet John</a>
                                            </div>
                                        </div>
                                        <div class="m-list-badge m--margin-top-15">
                                            <div class="m-list-badge__label m--font-success">13:00</div>
                                            <div class="m-list-badge__items">
                                                <span class="m-list-badge__item">Setup AOL</span>
                                                <span class="m-list-badge__item">Write Code</span>
                                            </div>
                                        </div>
                                        <div class="m-list-badge m--margin-top-15">
                                            <div class="m-list-badge__label m--font-success">14:00</div>
                                            <div class="m-list-badge__items">
                                                <a href="#" class="m-list-badge__item">Just Keep Doing Something</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-timeline-1__item m-timeline-1__item--left">
                                    <div class="m-timeline-1__item-circle">
                                        <div class="m--bg-danger"></div>
                                    </div>
                                    <div class="m-timeline-1__item-arrow"></div>
                                    <span class="m-timeline-1__item-time m--font-brand">05:00&nbsp;<span>PM</span></span>
                                    <div class="m-timeline-1__item-content">
                                        <div class="media">
                                            <img class="m--margin-right-20" src="../../assets/app/media/img/products/product1.jpg" title="">
                                            <div class="media-body">
                                                <div class="m-timeline-1__item-title m--margin-top-10  ">
                                                    Some Post
                                                </div>
                                                <div class="m-timeline-1__item-body">
                                                    Lorem ipsum dolor sit amit<br>
                                                    consectetur eiusmdd<br>
                                                    tempor incididunt ut labore<br>
                                                    et dolore magna.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m--align-center">
                                <button type="button" class="btn btn-sm m-btn--custom m-btn--pill  btn-danger">Load More</button>
                            </div>
                        </div>

                        <!--End:Timeline 1-->
                    </div>
                    <div class="tab-pane" id="m_widget2_tab2_content">

                        <!--begin:Timeline 2-->
                        <div class="m-timeline-1 m-timeline-1--fixed">
                            <div class="m-timeline-1__items">
                                <div class="m-timeline-1__marker"></div>
                                <div class="m-timeline-1__item m-timeline-1__item--left m-timeline-1__item--first">
                                    <div class="m-timeline-1__item-circle">
                                        <div class="m--bg-danger"></div>
                                    </div>
                                    <div class="m-timeline-1__item-arrow"></div>
                                    <span class="m-timeline-1__item-time m--font-brand">11:35<span>AM</span></span>
                                    <div class="m-timeline-1__item-content">
                                        <div class="m-timeline-1__item-title">
                                            Users Joined Today
                                        </div>
                                        <div class="m-timeline-1__item-body">
                                            <div class="m-list-badge m--margin-bottom-20">
                                                <div class="m-list-badge__label m--font-danger">12:00</div>
                                                <div class="m-list-badge__items">
                                                    <a href="#" class="m-list-badge__item m-list-badge__item--brand">Technology</a>
                                                    <a href="#" class="m-list-badge__item m-list-badge__item--focus">Sport</a>
                                                    <a href="#" class="m-list-badge__item m-list-badge__item--success">Art</a>
                                                    <a href="#" class="m-list-badge__item m-list-badge__item--danger">Music</a>
                                                </div>
                                            </div>
                                            <div class="m-list-badge m--margin-bottom-20">
                                                <div class="m-list-badge__label m--font-brand">18:30</div>
                                                <div class="m-list-badge__items">
                                                    <span class="m-list-badge__item m-list-badge__item--focus">Web Design</span>
                                                    <span class="m-list-badge__item m-list-badge__item--warning">Programming</span>
                                                    <span class="m-list-badge__item m-list-badge__item--info">Illustration</span>
                                                </div>
                                            </div>
                                            <div class="m-list-badge">
                                                <div class="m-list-badge__label m--font-warning">12:40</div>
                                                <div class="m-list-badge__items">
                                                    <a href="#" class="m-list-badge__item m-list-badge__item--brand">Yoga</a>
                                                    <a href="#" class="m-list-badge__item m-list-badge__item--primary">Cooking</a>
                                                    <a href="#" class="m-list-badge__item m-list-badge__item--danger">Dance</a>
                                                    <a href="#" class="m-list-badge__item m-list-badge__item--warning">Gym</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-timeline-1__item m-timeline-1__item--right">
                                    <div class="m-timeline-1__item-circle">
                                        <div class="m--bg-danger"></div>
                                    </div>
                                    <div class="m-timeline-1__item-arrow"></div>
                                    <span class="m-timeline-1__item-time m--font-brand">02:50<span>PM</span></span>
                                    <div class="m-timeline-1__item-content">
                                        <div style="height:170px;">
                                            <div style="height:100%;overflow:hidden;display:block;background: url(http://maps.googleapis.com/maps/api/staticmap?center=48.858271,2.294264&amp;size=640x300&amp;zoom=5&amp;key=AIzaSyBMlTEcPR5QULmk9QUaS7lwUK7qtabunEI) no-repeat 50% 50%;">
                                                <img src="http://maps.googleapis.com/maps/api/staticmap?center=48.858271,2.294264&amp;size=640x300&amp;zoom=16&amp;key=AIzaSyBMlTEcPR5QULmk9QUaS7lwUK7qtabunEI" style="" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-timeline-1__item m-timeline-1__item--left">
                                    <div class="m-timeline-1__item-circle">
                                        <div class="m--bg-danger"></div>
                                    </div>
                                    <div class="m-timeline-1__item-arrow"></div>
                                    <span class="m-timeline-1__item-time m--font-brand">02:58<span>PM</span></span>
                                    <div class="m-timeline-1__item-content">
                                        <div class="m-timeline-1__item-title">
                                            Latest News
                                        </div>
                                        <div class="m-timeline-1__item-body m--margin-top-20">
                                            Lorem ipsum dolor sit amit,consectetur eiusmdd<br>
                                            tempor incididunt ut labore et dolore magna enim<br>
                                            ad minim veniam nostrud
                                        </div>
                                        <div class="m-timeline-1__item-btn m--margin-top-25">
                                            <a href="#" class="btn btn-sm btn-outline-brand m-btn m-btn--pill m-btn--custom">Read more...</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-timeline-1__item m-timeline-1__item--right">
                                    <div class="m-timeline-1__item-circle">
                                        <div class="m--bg-danger"></div>
                                    </div>
                                    <div class="m-timeline-1__item-arrow"></div>
                                    <span class="m-timeline-1__item-time m--font-brand">04:10<span>PM</span></span>
                                    <div class="m-timeline-1__item-content">
                                        <div class="m-timeline-1__item-title">
                                            My ToDo
                                        </div>
                                        <div class="m-list-badge m--margin-top-15">
                                            <div class="m-list-badge__label m--font-success">12:00</div>
                                            <div class="m-list-badge__items">
                                                <a href="#" class="m-list-badge__item">Hiking</a>
                                                <a href="#" class="m-list-badge__item">Lunch</a>
                                                <a href="#" class="m-list-badge__item">Meet John</a>
                                            </div>
                                        </div>
                                        <div class="m-list-badge m--margin-top-15">
                                            <div class="m-list-badge__label m--font-success">13:00</div>
                                            <div class="m-list-badge__items">
                                                <span class="m-list-badge__item">Setup AOL</span>
                                                <span class="m-list-badge__item">Write Code</span>
                                            </div>
                                        </div>
                                        <div class="m-list-badge m--margin-top-15">
                                            <div class="m-list-badge__label m--font-success">14:00</div>
                                            <div class="m-list-badge__items">
                                                <a href="#" class="m-list-badge__item">Just Keep Doing Something</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-timeline-1__item m-timeline-1__item--left m--margin-top-10">
                                    <div class="m-timeline-1__item-circle">
                                        <div class="m--bg-danger"></div>
                                    </div>
                                    <div class="m-timeline-1__item-arrow"></div>
                                    <span class="m-timeline-1__item-time m--font-brand">05:00<span>PM</span></span>
                                    <div class="m-timeline-1__item-content">
                                        <div class="media">
                                            <img class="m--margin-right-20" src="../../assets/app/media/img/products/product1.jpg" title="">
                                            <div class="media-body">
                                                <div class="m-timeline-1__item-title m--margin-top-10  ">
                                                    Some Post
                                                </div>
                                                <div class="m-timeline-1__item-body">
                                                    Lorem ipsum dolor sit amit<br>
                                                    consectetur eiusmdd<br>
                                                    tempor incididunt ut labore<br>
                                                    et dolore magna
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m--align-center">
                                <button type="button" class="btn btn-sm m-btn--custom m-btn--pill  btn-focus">Load More</button>
                            </div>
                        </div>

                        <!--End:Timeline 2-->
                    </div>
                </div>
            </div>
        </div>
        <!--End::Section-->
        <!--Begin::Section Calendar-->
        <div class="row">
            <div class="col-lg-12">
                <!--begin::Portlet-->
                <div class="m-portlet" id="m_portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon">
                                    <i class="flaticon-calendar-2"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    GCU Calendar
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div id="m_calendar"></div>
                    </div>
                </div>

                <!--end::Portlet-->
            </div>
        </div>
        <!--End::Section-->

    </div>
</div>


@section Scripts
{
    <script src="~/Assets/StudentDashboardassets/demo/demo12/custom/components/calendar/google.js"></script>
    <script src="~/Assets/StudentDashboardassets/app/js/dashboard.js" type="text/javascript"></script>
    <!--begin::Page Vendors -->
    <script src="assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>

    <!--end::Page Vendors -->
    <!--begin::Page Scripts -->
    <script src="assets/app/js/dashboard.js" type="text/javascript"></script>

    <!--end::Page Scripts -->
    <script type="text/javascript">
        $(".m-datatable").mDatatable({
            data: { saveState: { cookie: !1 } },
            search: { input: $("#generalSearch") },
            columns: [
                { field: "DepositPaid", type: "number" }, {
                    field: "OrderDate",
                    type: "date",
                    format: "YYYY-MM-DD"
                }, {
                    field: "Status",
                    title: "Status",
                    template: function (e) {
                        var t = {
                            1: { title: "Pending", class: "m-badge--brand" },
                            2: { title: "Delivered", class: " m-badge--metal" },
                            3: { title: "Canceled", class: " m-badge--primary" },
                            4: { title: "Success", class: " m-badge--success" },
                            5: { title: "Info", class: " m-badge--info" },
                            6: { title: "Danger", class: " m-badge--danger" },
                            7: { title: "Warning", class: " m-badge--warning" }
                        };
                        return '<span class="m-badge ' + t[e.Status].class + ' m-badge--wide">' + t[e.Status].title + "</span>"
                    }
                }, {
                    field: "Type",
                    title: "Type",
                    template: function (e) {
                        var t = {
                            1: { title: "Online", state: "danger" },
                            2: { title: "Retail", state: "primary" },
                            3: { title: "Direct", state: "accent" }
                        };
                        return '<span class="m-badge m-badge--' + t[e.Type].state + ' m-badge--dot"></span>&nbsp;<span class="m--font-bold m--font-' + t[e.Type].state + '">' + t[e.Type].title + "</span>"
                    }
                }
            ]
        })
    </script>
}