
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<div class="m-portlet m-portlet--success m-portlet--head-solid-bg">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Frequently Asked Questions
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="m-portlet m-portlet--full-height">
                    <div class="m-accordion m-accordion--default m-accordion--toggle-arrow" id="m_accordion_5" role="tablist">
                        <div class="m-accordion__item m-accordion__item--brand">
                            <div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_5_item_1_head" data-toggle="collapse" href="#m_accordion_5_item_1_body" aria-expanded="false">
                                <span class="m-accordion__item-icon"><i class="flaticon-exclamation"></i></span>
                                <span class="m-accordion__item-title"> Are usernames or passwords case-sensitive?</span>
                                <span class="m-accordion__item-mode"></span>
                            </div>
                            <div class="m-accordion__item-body collapse" id="m_accordion_5_item_1_body" role="tabpanel" aria-labelledby="m_accordion_5_item_1_head" data-parent="#m_accordion_5">
                                <div class="m-accordion__item-content">
                                    <p>
                                        Usernames are case sensitive. Passwords are case sensitive.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="m-accordion__item m-accordion__item--danger">
                            <div class="m-accordion__item-head collapsed" srole="tab" id="m_accordion_5_item_2_head" data-toggle="collapse" href="#m_accordion_5_item_2_body" aria-expanded="false">
                                <span class="m-accordion__item-icon"><i class="flaticon-refresh"></i></span>
                                <span class="m-accordion__item-title"> What should I do if I forget my password?</span>
                                <span class="m-accordion__item-mode"></span>
                            </div>
                            <div class="m-accordion__item-body collapse" id="m_accordion_5_item_2_body" role="tabpanel" aria-labelledby="m_accordion_5_item_2_head" data-parent="#m_accordion_5" style="">
                                <div class="m-accordion__item-content">
                                    <p>
                                        Enter your username in the Username entry box provided on the login screen.  Select the Forgot your password? link.  A dialog box will be displayed asking if you “Are sure you would like to reset your password”.  Select yes, your password will be emailed to you at the email address you provided when you were setup as a user.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="m-accordion__item m-accordion__item--info">
                            <div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_5_item_3_head" data-toggle="collapse" href="#m_accordion_5_item_3_body" aria-expanded="false">
                                <span class="m-accordion__item-icon"><i class=" flaticon-info"></i></span>
                                <span class="m-accordion__item-title">  I did not find what I was looking for here, how do I contact Checkpoint Systems for Support?</span>
                                <span class="m-accordion__item-mode"></span>
                            </div>
                            <div class="m-accordion__item-body collapse" id="m_accordion_5_item_3_body" role="tabpanel" aria-labelledby="m_accordion_5_item_3_head" data-parent="#m_accordion_5" style="">
                                <div class="m-accordion__item-content">
                                    <p>
                                        Select the Contact Us link on the login page.  Contact the Checkpoint contact listing that is best suited to addressing your question or concern.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="m-accordion__item m-accordion__item--danger">
                            <div class="m-accordion__item-head collapsed" srole="tab" id="m_accordion_5_item_5_head" data-toggle="collapse" href="#m_accordion_5_item_5_body" aria-expanded="false">
                                <span class="m-accordion__item-icon"><i class=" flaticon-interface-2"></i></span>
                                <span class="m-accordion__item-title"> What password can I choose? For example, can I use my e-mail address?</span>
                                <span class="m-accordion__item-mode"></span>
                            </div>
                            <div class="m-accordion__item-body collapse" id="m_accordion_5_item_5_body" role="tabpanel" aria-labelledby="m_accordion_5_item_5_head" data-parent="#m_accordion_5" style="">
                                <div class="m-accordion__item-content">
                                    <p>
                                        Passwords must be 7-16 characters, with the allowed characters being A-Z, a-z, 0-9, and the symbols !,@@ #, $, %, and *. Neither commas nor periods are allowed, and spaces are also forbidden. Note that passwords are case sensitive. your password”.  Select yes, your password will be emailed to you at the email address you provided when you were setup as a user.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="m-accordion__item m-accordion__item--info">
                            <div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_5_item_6_head" data-toggle="collapse" href="#m_accordion_5_item_6_body" aria-expanded="false">
                                <span class="m-accordion__item-icon"><i class=" flaticon-eye"></i></span>
                                <span class="m-accordion__item-title"> What username can I choose? For example, can I use my e-mail address?</span>
                                <span class="m-accordion__item-mode"></span>
                            </div>
                            <div class="m-accordion__item-body collapse" id="m_accordion_5_item_6_body" role="tabpanel" aria-labelledby="m_accordion_5_item_6_head" data-parent="#m_accordion_5" style="">
                                <div class="m-accordion__item-content">
                                    <p>
                                        The username needs to be alphanumeric (a-z, A-Z, 0-9), case-sensitive, and between 3 and 11 chracters in length. Symbols or unicode characters are not allowed. Thus, you cannot use your e-mail address, e.g. iman.astronomer@gmail.com.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
</div>

