
@{
    ViewBag.Title = "BSCSinfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container py-5 mt-3">

    <h2 class="h3 block-title text-center mb-4"> BSCS Program Information <small> The information below about criteria of BSCS, MSCS and PHD</small></h2>
    <!-- Accordion Style 2 -->
    <div class="container justify-content-center">


        <div class="col-lg-12 mb-4 pb-2">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a class="nav-link show active" href="#fade" data-toggle="tab" role="tab" aria-selected="true">BSCS Admission</a></li>
                <li class="nav-item"><a class="nav-link show" href="#scaleup" data-toggle="tab" role="tab" aria-selected="false">How to Apply</a></li>
                <li class="nav-item"><a class="nav-link show" href="#scaledown" data-toggle="tab" role="tab" aria-selected="false"> Fee Structure </a></li>
                <li class="nav-item"><a class="nav-link show" href="#right" data-toggle="tab" role="tab" aria-selected="false"> Admission Criteria </a></li>
                <li class="nav-item"><a class="nav-link show" href="#left" data-toggle="tab" role="tab" aria-selected="false">Frequently Asked Questions</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane transition fade active show" id="fade" role="tabpanel">
                    <p class="" style="font-size: 16px; padding: 10px;">
                        <h6> BSCS Admission Application </h6>



                        <span class="fe-icon-check-circle text-success"></span> Please check following documents /information before starting Online registration.<br>

                        <span class="fe-icon-check-circle text-success"></span> These documents are to be uploaded when required..<br>
                        <span class="fe-icon-check-circle text-success"></span> Your email and mobile number. (both contacts are required).<br>

                        <span class="fe-icon-check-circle text-success"></span> Your National ID card or Nadra B-Form. (Those candidates not having NIC or B-Form, must email to admissions@lhr.nu.edu.pk for temporary registration)<br>

                        <span class="fe-icon-check-circle text-success"></span> Your father/guardian's National ID Card.<br>

                        <span class="fe-icon-check-circle text-success"></span> You Matriculation Result card (for correct name spelling and Date of Birth).<br>

                        <!--  <span class="fa fa-check-square-o"></span> Copy of your 2nd Year Roll number slip(2018) or Intermediate Pass result card.<br>-->
                        <span class="fe-icon-check-circle text-success"></span> Intermediate Pass result card 2020 or older.<br>

                        <span class="fe-icon-check-circle text-success"></span> Colour Scanned copies of your Photo, CNIC/B-Form, Matric Certificate and Intermediate Certificate for uploading. (less than 5 Megabyte). File Formayt should be BMP, JPG, GIF, or PNG<br>

                        (Do not send these documents to any address. We do not need them now).<br>
                    </p>
                </div>
                <div class="tab-pane transition fade scale" id="scaleup" role="tabpanel">
                    <fieldset>
                        <h6> How to Apply </h6>
                        <div class="">
                            <p style="font-size:16px; padding:10px;">
                                <span class="fe-icon-check-circle text-success"></span> Register at <a href="http://lhr.nu.edu.pk/">http://lhr.nu.edu.pk/</a><br>

                                <span class="fe-icon-check-circle text-success"></span> Login your Account at <a href="http://lhr.nu.edu.pk/">http://lhr.nu.edu.pk/</a><br>
                                <span class="fe-icon-check-circle text-success"></span>Please keep your CNIC/B-Form, Matric Certificate, Intermediate Certificate and Roll Number Slip for correct information, <br>
                                especially Your Date of Birth, Your correct name spellings, your correct CNIC, and Second year roll number, board and subject combination<br>

                                <span class="fe-icon-check-circle text-success"></span>Above mentioned information will not be changed/corrected aftyer you enter and submit<br>


                                <span class="fe-icon-check-circle text-success"></span> First Section of form is to enter Personal information. On completion, click process information button.<br>
                                <span class="fe-icon-check-circle text-success"></span> Second Section of form is to enter Academic information. On completion click submit button. <br>

                                <span class="fe-icon-check-circle text-success"></span> Enter your mobile number in correct format (03001234567), and email (in abc@def.xyz format).<br>

                                <span class="fe-icon-check-circle text-success"></span> Print online fee chalan.<br>

                                <span class="fe-icon-check-circle text-success"></span> Submit in nearest Habib Bank branch, and keep receipt with you.<br>
                                <span class="fe-icon-check-circle text-success"></span> Open your account on BSCS registration wesbite, and upload your fee receipt.<br>


                                <span class="fe-icon-check-circle text-success"></span> Wait for 4 to 5 working days so that fee submission is verified in FAST-NU admission cell.<br>

                                <!--                            <span class="fa fa-check-square-o"></span> You will receive e-mail/SMS regarding fee reception, or you can get Entry Test Slip from website.<br> -->
                                <span class="fe-icon-check-circle text-success"></span> You will receive e-mail/SMS regarding fee reception, <br>

                                <script src="http://csadmissions.gcu.edu.pk/js/jquery-1.8.3.min.js"></script>
                                <script src="http://csadmissions.gcu.edu.pk/js/wow.min.js"></script>
                                <script src="http://csadmissions.gcu.edu.pk/js/bootstrap.min.js"></script>
                                <script src="http://csadmissions.gcu.edu.pk/js/custom_ali.js"></script>


                                <!-- footer content here -->
                                <!--footer start-->

                            </p>
                        </div>
                    </fieldset>
                </div>
                <div class="tab-pane transition fade scaledown" id="scaledown" role="tabpanel">
                    <p class="text-muted"><p style="font-size: 18px; padding: 5px;">
                        <h6> BSCS Morning Fee Structure</h6>
                        <span class="fe-icon-check-circle text-success"></span> First Fee at the time of Admission (Admission + First Semester fees ) Rs. 83,500/- <br>
                        <span class="fe-icon-check-circle text-success"></span> Semester Fee( for next 7 semesters): Rs. 58,000/- Per Semester <br>
                        <span class="fe-icon-check-circle text-success"></span> Total Fee Payable in 4 years (8 semesters): Rs. 489,000/- <br>
                        <br>
                        <br>
                        <h6> BSCS Evening Fee Structure</h6>
                    <p style="font-size:18px; padding:5px;">
                        <span class="fe-icon-check-circle text-success"></span> First Time Admission Fees (Admission + First Semester): Rs. 89,000/- <br>
                        <span class="fe-icon-check-circle text-success"></span> Semester Fees (next 7 Semesters): Rs. 63,000/- <br>
                        <span class="fe-icon-check-circle text-success"></span> Total Fee Payable in 4 years (8 semesters): Rs. 530,000/- <br>
                    </p>

                    </p>
                </div>
                <div class="tab-pane transition fade left" id="left" role="tabpanel">
                    <p style="font-size:18px; padding:5px;">
                        <span class="la la la-check-square-o la-1x"></span> <b> Q. What was previous year merit? </b> <br><br>

                        Ans. Merit is calculated according to formula given in merit section. Previous year merit (2017) was about 67.77% for morning and 65.80% for evening admissions.<br><br>

                        <span class="la la la-check-square-o la-1x"></span> <b>  Q. I have a foreign certificate other than A-level. Am I eligible? </b> <br><br>

                        Ans. All foreign certificates obtained after 12 years of education, equivalent to A-level Certification and having same subject groups as given ineligibility section are eligible.
                        In Pakistan, IBCC (Inter-Boards-Committee-of-Chairmen) performs equivalence verification and issues an IBCC Equivalence Certificate.
                        Such IBCC certificate is sufficient for International Eqiuvalence.<br><br>

                        <span class="la la la-check-square-o la-1x"></span> <b>  Q. I appeared/passed my Intermediate Examination in 2017 (or before). Am I eligible?</b> <br><br>

                        Ans. Yes.<br><br>

                        <span class="la la la-check-square-o la-1x"></span> <b>
                            Q. I appeared/passed my Intermediate Examination in 2017 (or before).
                            Now I have appeared  for Marks Improvement in 2018. How my merit will be calculated.
                        </b><br><br>

                        Ans. Your 2018 result or 2017 result will be counted, which one is better.
                        You will yourself enter marks and will show documents at the time of admission.<br><br>

                        <span class="la la la-check-square-o la-1x"></span> <b>
                            Q. I appeared/passed my F.Sc Pre-Medical (or any other combination without math) in 2017 or before.
                            Now I have appeared for Additional Mathematics in 2018. How my merit will be calculated.
                        </b> <br><br>

                        Ans. Your Inter result will be counted as follows; <br><br>

                        Final Marks = Inter 2017 marks plus Additional Math. Marks minus Biology marks. <br><br>

                        <span class="la la la-check-square-o la-1x"></span> <b>  Q. I have already passed My Intermediate Examination and result card is issued, but there is no entry of Intermediate marks on Registration form. How can I enter my marks.</b> <br><br>

                        Ans. Intermediate marks entry will start after Entry Test result. Then you can enter your result. <br><br>

                        <span class="la la la-check-square-o la-1x"></span> <b>  Q. NU website (or any other source) gives different eligibility criteria for undergraduate programs. What is actual criteria.</b> <br><br>

                        Ans. NU website shows criteria for General Admissions in FAST University. You should follow the criteria for BS Computer Science Admission, given on lhr.nu.edu.pk, set for year 2018 onwards. <br><br>

                        <span class="la la la-check-square-o la-1x"></span> <b> Q. Can students from other provinces/regions of Pakistan apply for admission? And are there any reserved seats for other provinces/regions? </b> <br><br>

                        Ans. Students from Sindh, Balochistan, Khyber Pakhtoonkwa, FATA, PATA, Islamabad, Azad Kashmir and Northern areas are encouraged.
                        However, there is no such quota.<br><br>

                        <span class="la la la-check-square-o la-1x"></span> <b>  Q. Is there any quota/preference for Intermediate students of FAST University Lahore? </b> <br><br>

                        Ans. Not in Computer Science Department.<br><br>

                        <span class="la la la-check-square-o la-1x"></span> <b>  Q. The nearest HBL branch does not accept GCU Admission fee chalan. </b> <br><br>

                        Ans. You should go to some other branch which has arrangements for Academic Fee online Chalans, like boards and universities fees.<br><br>

                        <span class="la la la-check-square-o la-1x"></span> <b>  Q. Nearest HBL Branch link is down and they are not accepting fees. </b> <br><br>

                        Please wait or go to some other branch.<br><br>

                        <span class="la la la-check-square-o la-1x"></span> <b> Q I have lost my chalan, before submission. </b> <br><br>

                        Ans. You can download a fresh copy of chalan.<br><br>

                        <span class="la la la-check-square-o la-1x"></span> <b>  Q. I have lost my receipt of chalan, after fee submission. </b> <br><br>

                        Ans. Normally HBL verifies chalan submissions online and receipt is not needed after verification from HBL.
                        However, if your HBL does not verify your fee, you will have to submit fee again.<br><br>

                        <span class="la la la-check-square-o la-1x"></span> <b>  Q. I have deposited fees in bank and I have fee receipt. Where to send it? </b> <br><br>

                        Ans. You should keep it yourself. It will only be needed in case of any problem.<br><br>

                        <span class="la la la-check-square-o la-1x"></span> <b>
                            Q. Can I send fee via Bank Draft/Pay order.
                        </b> <br><br>

                        Ans. No. Only bank deposit or online transfer is accepted<br><br>

                        <span class="la la la-check-square-o la-1x"></span> <b>
                            Q. can I transfer fee via online/ATM/Mobile transfer?
                        </b> <br><br>
                        Ans. It is possible. Transfer amount to account number given on fee chalan. You must mention your CNIC and Challan number in transaction details and you should email scanned copy of transaction reciept with your CNIC to csadmissions@gcu.edu.pk, indicating that it is ATM or Web- Transfer.<br><br>
                        <span class="la la la-check-square-o la-1x"></span> <b>
                            Q. Website is very slow or not-responding.
                        </b> <br><br>

                        Ans. All websites become slow or jammed, when thousands of people are connected.
                        Please be patient and wait for some suitable time when lesser people are connected. You may need to get a fast internet connection like 3G or 4G.<br><br>

                        <span class="la la la-check-square-o la-1x"></span> <b>  Q. Can registration can be made through mobile phone?</b> <br><br>

                        Ans. Yes. Registration can also be made on a 3G/4G Internet enabled Mobile phone, with large screen.
                        However you will need to open fee chalan and entry test slip on a PC for printing.<br><br>

                        <span class="la la la-check-square-o la-1x"></span> <b>  Q. What are timings for online registration? It is compulsory to register in office timing? </b> <br><br>

                        Ans. Website is working 24 hours and seven days a week, and it is much more better to register in timing of lesser usage like after noon and late night to early morning.<br><br>

                        <span class="la la la-check-square-o la-1x"></span> <b>  Q. What if website does not respond at all. </b> <br><br>

                        Ans. You can come to FAST University Lahore for online registration.<br><br>

                        <span class="la la la-check-square-o la-1x"></span> <b>  Q. I have registered, but cannot upload picture. </b> <br><br>

                        Ans. Again, in rush hours, pictures uploading/downloading is very slow. In case, you are not able to upload picture at all, you should follow the following procedure.<br><br>

                        Scan the picture and name it as your CNIC (e.g. 33202133769804.jpg). It must be two MB or lesser in size. (right click on picture to check its size) <br><br>

                        Email it to csadmission@lhr.nu.edu.pk<br><br>

                        <span class="la la la-check-square-o la-1x"></span> <b>  Q. How can those candidates get registration, who do not have access to internet, or do not have email and mobile numbers.</b> <br><br>

                        Ans. Such candidates can come to FAST University Lahore for registration.<br><br>

                        <span class="la la la-check-square-o la-1x"></span> <b>  Q. Foreign-based Pakistanis who have not applied for Pakistani CNIC or NADRA registration, can apply?</b> <br><br>

                        Ans. Yes. They need to email their particulars and they will be issued a temporary ID. However, students will have to register in NADRA and fulfill other legal requirements, if they get admission. Also, fee will have to be submitted in a Pakistani HBL only.<br><br>

                        <span class="la la la-check-square-o la-1x"></span> <b>  Q. I have registered online, but where is my login/password?</b> <br><br>

                        Ans. You do not need login/password for entry test registration. Your CNIC/B-form number is your login if you need to go to website again.

                        <span class="la la la-check-square-o la-1x"></span> <b>  Q. I need to correct/modify some information after registration.</b> <br><br>

                        Ans. If you want to change/correct your primary information i.e. name, father name, CNIC, mobile number or email or postal address, you should email to csadmissions@gcu.edu.pk with corrected information and scanned copy of your father ID card. If you want to change some other information, you should wait until entry test result.<br><br>

                        <span class="la la la-check-square-o la-1x"></span> <b> 	Q. I want to apply for a reserved seat.</b> <br><br>

                        Ans. Please apply for a reserved seat after passing entry test.<br><br>

                        <span class="la la la-check-square-o la-1x"></span> <b>  Q. My name has appeared in Merit list. However, I cannot submit Admission fee. Is it possible to submit fees in installments, get discount or some time relaxation.</b> <br><br>

                        Ans. Please contact University Authorities for fee matters. Admission Cell cannot help.<br><br>
                    </p>
                </div>


                <div class="tab-pane transition fade left" id="right" role="tabpanel">
                    <div class="">
                        <p style="font-size:16px; padding:10px;">
                            <span class="fe-icon-check-circle text-success"></span> Students who had to appear in 2020, but examination was cancelled due to COVID-19 can apply. <br>
                            <span class="fe-icon-check-circle text-success"></span> Merit will be determined on thae basis of Complete 2 years F.Sc/Equivalent Certificate issued by Boards. <br>
                            <span class="fe-icon-check-circle text-success"></span> Minimum 50% Marks with following combination in Intermediate. <br>
                        </p><ol>
                            <li> F. Sc Pre Engineering/Pre Medical *</li>
                            <li>
                                ICS/General Science with following combinations
                                <ol type="I">
                                    <li>Mathematics, Statistics, Physics</li>
                                    <li>Mathematics, Computer Science, Physics</li>
                                    <li>Mathematics, Computer Science, Statistics</li>
                                    <li>Mathematics, Statistics, Economics</li>
                                    <li>Mathematics, Computer Science, Economics</li>
                                </ol>
                            </li>
                            <li>A Levels Certificate same combinations as above.</li>
                            <li>Equivalence Certification from IBCC.</li>
                            <li> Other foreign qualifications are eligible only if an equivalence certificate is issued by IBCC</li>
                            <li> * Pre-Medical Certificate holders without Additional Mathematics will have to pass two additional Mathematics Courses in their First Year in BSCS </li>

                        </ol>

                        <span class="fe-icon-check-circle text-success"></span> DAE or other Diploma holders are not eligible for admission in BS(CS) program in FAST University Lahore.<br>

                        <span class="fe-icon-check-circle text-success"></span> I.Com/D.Com certified candidates are not eligible.<br>


                        <span class="fe-icon-check-circle text-success"></span> I.Com/D.Com certified candidates are not eligible.<br>


                        <!-- <span class="fa fa-check-square-o"></span> Please note that Online registration, Entry Test Slip and Entry Test result declaration does not mean that a candidates eligibility has been checked and he/she qualifies for admission.<br>-->
                        <span class="fe-icon-check-circle text-success"></span> Please note that Online registration and admission fee submisison does not mean that a candidates eligibility has been checked and he/she qualifies for admission.<br>

                        <span class="fe-icon-check-circle text-success"></span> Eligibility will be determined by checking original documents, before admission. Admission shall be cancelled if a candidate submits wrong information, or shows fake documents. <br>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>



    </div>
</section>