@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="offcanvas-wrapper">
    <div class="container pb-4">
        <br>
        <div class="pb-5">
            <div class="bg-secondary border px-4 py-5 text-center mb-5">
                @*<div class="h1 text-uppercase py-4">
                    GALLERY
                </div>*@

                <div>
                    <div class="parallax-img" data-parallax='{"y" : -200}'>
                        <img src="/Img/Banner1.jpg" alt="Background Image">
                    </div>
                </div>


            </div>
            <div class="pb-5 mb-3">
                <div class="owl-carousel owl-loaded owl-drag" data-owl-carousel="{ &quot;nav&quot;: false, &quot;dots&quot;: true, &quot;loop&quot;: true, &quot;margin&quot;: 30, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 4000, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;630&quot;:{&quot;items&quot;:2},&quot;991&quot;:{&quot;items&quot;:3},&quot;1200&quot;:{&quot;items&quot;:3}} }">
                    <div class="owl-stage-outer">

                        <div class="owl-stage" style="transform: translate3d(-2730px, 0px, 0px); transition: all 0.45s ease 0s; width: 4680px;">
                            <div class="owl-item cloned" style="width: 360px; margin-right: 30px;">
                                <img src="~/Img/Gallery/g2.jpg"/>
                            </div>
                            <div class="owl-item cloned" style="width: 360px; margin-right: 30px;">
                                <img src="~/Img/Gallery/g5.jpg"/>
                            </div>
                            <div class="owl-item cloned" style="width: 360px; margin-right: 30px;">
                                <img src="~/Img/Gallery/g4.jpg"/>
                            </div>
                            <div class="owl-item" style="width: 360px; margin-right: 30px;">
                                <img src="~/Img/Gallery/g7.jpg"/>
                            </div>
                            <div class="owl-item" style="width: 360px; margin-right: 30px;">
                                <img src="~/Img/Gallery/g3.jpg"/>
                            </div>
                            <div class="owl-item" style="width: 360px; margin-right: 30px;">
                                <img src="~/Img/Gallery/g8.jpg"/>
                            </div>
                            <div class="owl-item" style="width: 360px; margin-right: 30px;">
                                <img src="~/Img/Gallery/g1.jpg"/>
                            </div>
                            <div class="owl-item active" style="width: 360px; margin-right: 30px;">
                                <img src="~/Img/Gallery/g10.jpg"/>
                            </div>
                            <div class="owl-item active" style="width: 360px; margin-right: 30px;">
                                <img src="~/Img/Gallery/g11.jpg"/>
                            </div>
                            <div class="owl-item cloned active" style="width: 360px; margin-right: 30px;">
                                <img src="~/Img/Gallery/g12.jpg"/>
                            </div>
                            <div class="owl-item cloned" style="width: 360px; margin-right: 30px;">
                                <img src="~/Img/Gallery/g13.jpg"/>
                            </div>
                            <div class="owl-item cloned" style="width: 360px; margin-right: 30px;">
                                <img src="~/Img/Gallery/g2.jpg"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>