
@{
    ViewBag.Title = "MSCSinfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container py-5 mt-3">

    <h2 class="h3 block-title text-center mb-4"> MSCS Program Information <small> The information below about criteria of BSCS, MSCS and PHD</small></h2>
    <!-- Accordion Style 2 -->
    <div class="container justify-content-center">


        <div class="col-lg-12 mb-4 pb-2">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a class="nav-link show active" href="#fade" data-toggle="tab" role="tab" aria-selected="true"> MSCS Admission </a></li>
                <li class="nav-item"><a class="nav-link show" href="#scaleup" data-toggle="tab" role="tab" aria-selected="false"> How to Apply </a></li>
                <li class="nav-item"><a class="nav-link show" href="#scaledown" data-toggle="tab" role="tab" aria-selected="false"> Fee Structure </a></li>
                <li class="nav-item"><a class="nav-link show" href="#right" data-toggle="tab" role="tab" aria-selected="false"> Admission Criteria </a></li>
                <li class="nav-item"><a class="nav-link show" href="#left" data-toggle="tab" role="tab" aria-selected="false"> Frequently Asked Questions </a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane transition fade active show" id="fade" role="tabpanel">
                    <p style="font-size: 16px; padding: 10px;">
                        <h6> MSCS Admission Application </h6>
                        <span class="fe-icon-check-circle text-success"></span>
                        <!--Master's courses are, academically demanding and we arrogance ourselves on offering relevant and timely content delivered by subject specialists. With value-added course features and the potential to complete a professional placement during the dissertation module, the courses ensure that our students meet industry, not-for-profit but public sector expectations. -->

                        MS (CS) Degree program is of 36 credit hours, and spread over 2 years with 2 Semesters in each year. The MS (CS) students are required to complete 2 core courses (6 credit hours) and 6 elective courses (18 credit hours), followed by a thesis (12 Credit Hours) to complete the MS degree. <br>
                        <span class="fe-icon-check-circle text-success"></span> MSCS in FAST-NU Lahore is a full week, afternoon program. Normally classes are arranged from 4:00 to 7:00 PM. <br>
                        <span class="fe-icon-check-circle text-success"></span> MSCS is 4-semester program. Admissions are announed in July and classes start from November every year.<br>
                        <span class="fe-icon-check-circle text-success"></span> Admission Schedule: Admissions in MS/Mphil are announced in month of July. <br>
                        <span class="fe-icon-check-circle text-success"></span> The admission process will be announced by FAST-NU Lahore. <br>


                    </p>
                </div>
                <div class="tab-pane transition fade scale" id="scaleup" role="tabpanel">
                    <fieldset>
                        <h6> How to Apply </h6>
                        <div class="">
                            <p style="font-size:16px; padding:10px;">
                                <span class="fe-icon-check-circle text-success"></span> Register at <a href="http://lhr.nu.edu.pk/">http://http://lhr.nu.edu.pk/</a><br>

                                <span class="fe-icon-check-circle text-success"></span> Login your Account at <a href="http://lhr.nu.edu.pk/">http://lhr.nu.edu.pk/</a><br>
                                <span class="fe-icon-check-circle text-success"></span>Please keep your CNIC/B-Form, Matric Certificate, Intermediate Certificate and Roll Number Slip for correct information, <br>
                                especially Your Date of Birth, Your correct name spellings, your correct CNIC, and Second year roll number, board and subject combination<br>

                                <span class="fe-icon-check-circle text-success"></span>Above mentioned information will not be changed/corrected aftyer you enter and submit<br>


                                <span class="fe-icon-check-circle text-success"></span> First Section of form is to enter Personal information. On completion, click process information button.<br>
                                <span class="fe-icon-check-circle text-success"></span> Second Section of form is to enter Academic information. On completion click submit button. <br>

                                <span class="fe-icon-check-circle text-success"></span> Enter your mobile number in correct format (03001234567), and email (in abc@def.xyz format).<br>

                                <span class="fe-icon-check-circle text-success"></span> Print online fee chalan.<br>

                                <span class="fe-icon-check-circle text-success"></span> Submit in nearest Faisal Bank branch, and keep receipt with you.<br>
                                <span class="fe-icon-check-circle text-success"></span> Open your account on Online Admission registration wesbite, and upload your fee receipt.<br>


                                <span class="fe-icon-check-circle text-success"></span> Wait for 4 to 5 working days so that fee submission is verified in GCU admission cell.<br>

                                <!--                            <span class="fa fa-check-square-o"></span> You will receive e-mail/SMS regarding fee reception, or you can get Entry Test Slip from website.<br> -->
                                <span class="fe-icon-check-circle text-success"></span> You will receive e-mail/SMS regarding fee reception, <br>

                                <script src="http://csadmissions.gcu.edu.pk/js/jquery-1.8.3.min.js"></script>
                                <script src="http://csadmissions.gcu.edu.pk/js/wow.min.js"></script>
                                <script src="http://csadmissions.gcu.edu.pk/js/bootstrap.min.js"></script>
                                <script src="http://csadmissions.gcu.edu.pk/js/custom_ali.js"></script>


                                <!-- footer content here -->
                                <!--footer start-->

                            </p>
                        </div>
                    </fieldset>
                </div>
                <div class="tab-pane transition fade scaledown" id="scaledown" role="tabpanel">
                    <p class="text-muted"><p style="font-size: 18px; padding: 5px;">
    <h6> MSCS Fee Structure</h6>
    <span class="fe-icon-check-circle text-success"></span> Semester Fee: Rs. 180,000/- per semester for four semesters.  <br>
    <span class="fe-icon-check-circle text-success"></span>Admission Fee: Rs. 30,000/-  <br>
    <br>
    
                </div>
            <div class="tab-pane transition fade left" id="left" role="tabpanel">
                <p style="font-size:18px; padding:5px;">
                    <span class="fe-icon-check-circle text-success"></span> <b> Q. What was previous year merit? </b> <br><br>

                    Ans. Merit is calculated according to formula given in merit section. Previous year merit (2017) was about 67.77% for morning and 65.80% for evening admissions.<br><br>

                    <span class="fe-icon-check-circle text-success"></span> <b>  Q. I have a foreign certificate other than A-level. Am I eligible? </b> <br><br>

                    Ans. All foreign certificates obtained after 12 years of education, equivalent to A-level Certification and having same subject groups as given ineligibility section are eligible.
                    In Pakistan, IBCC (Inter-Boards-Committee-of-Chairmen) performs equivalence verification and issues an IBCC Equivalence Certificate.
                    Such IBCC certificate is sufficient for International Eqiuvalence.<br><br>

                    <span class="fe-icon-check-circle text-success"></span> <b>  Q. I appeared/passed my Intermediate Examination in 2017 (or before). Am I eligible?</b> <br><br>

                    Ans. Yes.<br><br>

                    <span class="fe-icon-check-circle text-success"></span> <b>
                        Q. I appeared/passed my Intermediate Examination in 2017 (or before).
                        Now I have appeared  for Marks Improvement in 2018. How my merit will be calculated.
                    </b><br><br>

                    Ans. Your 2018 result or 2017 result will be counted, which one is better.
                    You will yourself enter marks and will show documents at the time of admission.<br><br>

                    <span class="fe-icon-check-circle text-success"></span> <b>
                        Q. I appeared/passed my F.Sc Pre-Medical (or any other combination without math) in 2017 or before.
                        Now I have appeared for Additional Mathematics in 2018. How my merit will be calculated.
                    </b> <br><br>

                    Ans. Your Inter result will be counted as follows; <br><br>

                    Final Marks = Inter 2017 marks plus Additional Math. Marks minus Biology marks. <br><br>

                    <span class="fe-icon-check-circle text-success"></span> <b>  Q. I have already passed My Intermediate Examination and result card is issued, but there is no entry of Intermediate marks on Registration form. How can I enter my marks.</b> <br><br>

                    Ans. Intermediate marks entry will start after Entry Test result. Then you can enter your result. <br><br>

                    <span class="fe-icon-check-circle text-success"></span> <b>  Q. NU website (or any other source) gives different eligibility criteria for undergraduate programs. What is actual criteria.</b> <br><br>

                    Ans. NU website shows criteria for General Admissions in FAST University. You should follow the criteria for BS Computer Science Admission, given on lhr.nu.edu.pk, set for year 2018 onwards. <br><br>

                    <span class="fe-icon-check-circle text-success"></span> <b> Q. Can students from other provinces/regions of Pakistan apply for admission? And are there any reserved seats for other provinces/regions? </b> <br><br>

                    Ans. Students from Sindh, Balochistan, Khyber Pakhtoonkwa, FATA, PATA, Islamabad, Azad Kashmir and Northern areas are encouraged.
                    However, there is no such quota.<br><br>

                    <span class="fe-icon-check-circle text-success"></span> <b>  Q. Is there any quota/preference for Intermediate students of FAST University Lahore? </b> <br><br>

                    Ans. Not in Computer Science Department.<br><br>

                    <span class="fe-icon-check-circle text-success"></span> <b>  Q. The nearest Faisal Bank branch does not accept GCU Admission fee chalan. </b> <br><br>

                    Ans. You should go to some other branch which has arrangements for Academic Fee online Chalans, like boards and universities fees.<br><br>

                    <span class="fe-icon-check-circle text-success"></span> <b>  Q. Nearest Faisal Bank Branch link is down and they are not accepting fees. </b> <br><br>

                    Please wait or go to some other branch.<br><br>

                    <span class="fe-icon-check-circle text-success"></span> <b> Q I have lost my chalan, before submission. </b> <br><br>

                    Ans. You can download a fresh copy of chalan.<br><br>

                    <span class="fe-icon-check-circle text-success"></span> <b>  Q. I have lost my receipt of chalan, after fee submission. </b> <br><br>

                    Ans. Normally HBL verifies chalan submissions online and receipt is not needed after verification from HBL.
                    However, if your HBL does not verify your fee, you will have to submit fee again.<br><br>

                    <span class="fe-icon-check-circle text-success"></span> <b>  Q. I have deposited fees in bank and I have fee receipt. Where to send it? </b> <br><br>

                    Ans. You should keep it yourself. It will only be needed in case of any problem.<br><br>

                    <span class="fe-icon-check-circle text-success"></span> <b>
                        Q. Can I send fee via Bank Draft/Pay order.
                    </b> <br><br>

                    Ans. No. Only bank deposit or online transfer is accepted<br><br>

                    <span class="fe-icon-check-circle text-success"></span> <b>
                        Q. can I transfer fee via online/ATM/Mobile transfer?
                    </b> <br><br>
                    Ans. It is possible. Transfer amount to account number given on fee chalan. You must mention your CNIC and Challan number in transaction details and you should email scanned copy of transaction reciept with your CNIC to lhr.nu.edu.pk, indicating that it is ATM or Web- Transfer.<br><br>
                    <span class="fe-icon-check-circle text-success"></span> <b>
                        Q. Website is very slow or not-responding.
                    </b> <br><br>

                    Ans. All websites become slow or jammed, when thousands of people are connected.
                    Please be patient and wait for some suitable time when lesser people are connected. You may need to get a fast internet connection like 3G or 4G.<br><br>

                    <span class="fe-icon-check-circle text-success"></span> <b>  Q. Can registration can be made through mobile phone?</b> <br><br>

                    Ans. Yes. Registration can also be made on a 3G/4G Internet enabled Mobile phone, with large screen.
                    However you will need to open fee chalan and entry test slip on a PC for printing.<br><br>

                    <span class="fe-icon-check-circle text-success"></span> <b>  Q. What are timings for online registration? It is compulsory to register in office timing? </b> <br><br>

                    Ans. Website is working 24 hours and seven days a week, and it is much more better to register in timing of lesser usage like after noon and late night to early morning.<br><br>

                    <span class="fe-icon-check-circle text-success"></span> <b>  Q. What if website does not respond at all. </b> <br><br>

                    Ans. You can come to FAST University Lahore for online registration.<br><br>

                    <span class="fe-icon-check-circle text-success"></span> <b>  Q. I have registered, but cannot upload picture. </b> <br><br>

                    Ans. Again, in rush hours, pictures uploading/downloading is very slow. In case, you are not able to upload picture at all, you should follow the following procedure.<br><br>

                    Scan the picture and name it as your CNIC (e.g. 33202133769804.jpg). It must be two MB or lesser in size. (right click on picture to check its size) <br><br>

                    Email it to csadmission@gcu.edu.pk<br><br>

                    <span class="fe-icon-check-circle text-success"></span> <b>  Q. How can those candidates get registration, who do not have access to internet, or do not have email and mobile numbers.</b> <br><br>

                    Ans. Such candidates can come to FAST University Lahore for registration.<br><br>

                    <span class="fe-icon-check-circle text-success"></span> <b>  Q. Foreign-based Pakistanis who have not applied for Pakistani CNIC or NADRA registration, can apply?</b> <br><br>

                    Ans. Yes. They need to email their particulars and they will be issued a temporary ID. However, students will have to register in NADRA and fulfill other legal requirements, if they get admission. Also, fee will have to be submitted in a Pakistani HBL only.<br><br>

                    <span class="fe-icon-check-circle text-success"></span> <b>  Q. I have registered online, but where is my login/password?</b> <br><br>

                    Ans. You do not need login/password for entry test registration. Your CNIC/B-form number is your login if you need to go to website again.

                    <span class="fe-icon-check-circle text-success"></span> <b>  Q. I need to correct/modify some information after registration.</b> <br><br>

                    Ans. If you want to change/correct your primary information i.e. name, father name, CNIC, mobile number or email or postal address, you should email to csadmissions@gcu.edu.pk with corrected information and scanned copy of your father ID card. If you want to change some other information, you should wait until entry test result.<br><br>

                    <span class="fe-icon-check-circle text-success"></span> <b> 	Q. I want to apply for a reserved seat.</b> <br><br>

                    Ans. Please apply for a reserved seat after passing entry test.<br><br>

                    <span class="fe-icon-check-circle text-success"></span> <b>  Q. My name has appeared in Merit list. However, I cannot submit Admission fee. Is it possible to submit fees in installments, get discount or some time relaxation.</b> <br><br>

                    Ans. Please contact University Authorities for fee matters. Admission Cell cannot help.<br><br>
                </p>
            </div>
            
            
            
            <div class="tab-pane transition fade left" id="right" role="tabpanel">

                <div class="">
                    <p style="font-size:16px; padding:10px;">
                        <span class="fe-icon-check-circle text-success"></span>The minimum required marks/grades for admission in MS ( Computer Science) will be as follows; <br>
                    </p><ol>
                        <li>	2.5/4.00 CGPA or 60% in an Annual System.</li>
                        <li>	All candidates are required to pass the NU Graduate Assessment Test ( general) for MS/MPHil Admission to be conducted through NTS.</li>
                        <li>     The schedule of registration and test shall be announced at appropriate time. </li>
                        <li>
                            a. BS (CS) 4-Year Degree Programme.
                            OR
                            b. Computer Science Conversion Course i.e. 2-Year Degree Programme refered to as MCS or MSc (CS).
                            OR
                            c. 16-year graduates having any of the following degree as eligible with the condition that they will cover deficiency courses.
                        </li>
                        <ul>
                            <li> Software Engineering </li>
                            <li> Information Technology </li>
                            <li>Telecommunication </li>
                            <li>Computational Physics </li>
                            <li>Electrical Engineering </li>
                            <li>Computer Engineering </li>
                            <li> Electronics </li>
                            <li> Bioinformatics </li>
                        </ul>
                        <br>
                    </ol>
                    <span class="fe-icon-check-circle text-success"></span> Result Awaiting students can apply but they should submit their result before interview call, (normally in September). <br>
                    <span class="fe-icon-check-circle text-success"></span> Credit Hours: In order to seek admission in MS in Computer Science, the applicants must have degrees with the following number of Credit Hours. <br>
                    <br> <ol>
                        <li>	In case of BS(Hons) 4-years degree: 130 Credit Hours</li>
                        <li>	In case of two years masters degree (after 14 years of education) 70 Credit Hours.</li>
                    </ol>
                    <span class="fe-icon-check-circle text-success"></span>Deficiency Courses  <br>
                    <span class="fe-icon-check-circle text-success"></span>The students who get admission in MS Computer Science and have any one of the degree other than BS/MSc Computer Science, will have to qualify Deficiency courses before regular enrollment in MS Computer Science;  <br>
                    <span class="fe-icon-check-circle text-success"></span>List of Deficiency Courses <br>
                    <ol>
                        <li>	Programming Fundamentals. </li>
                        <li>	Operating Systems.</li>
                        <li>	Software Engineering.</li>
                        <li>	Theory of Automata.</li>
                        <li>	Design and Analysis of Algorithms.</li>
                        <li>	Computer Architecture and Organization.</li>
                        <li>	Database management Systems.</li>
                        <li>	Data Communication and Computer Networks.</li>
                    </ol>
                    <p></p>
                </div>
            </div>
            


            </div>
        </div>



    </div>
</section>