
@{
    ViewBag.Title = "PHDInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container py-5 mt-3">

    <h2 class="h3 block-title text-center mb-4"> PHD Program Information <small> The information below about criteria of BSCS, MSCS and PHD</small></h2>
    <!-- Accordion Style 2 -->
    <div class="container justify-content-center">


        <div class="col-lg-12 mb-4 pb-2">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a class="nav-link show active" href="#fade" data-toggle="tab" role="tab" aria-selected="true">PHD Admission</a></li>
                <li class="nav-item"><a class="nav-link show" href="#scaleup" data-toggle="tab" role="tab" aria-selected="false">Admission Requirement</a></li>
                <li class="nav-item"><a class="nav-link show" href="#scaledown" data-toggle="tab" role="tab" aria-selected="false"> Admission Procedure  </a></li>
                <li class="nav-item"><a class="nav-link show" href="#right" data-toggle="tab" role="tab" aria-selected="false"> Degree Requirements </a></li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane transition fade active show" id="fade" role="tabpanel">
                    <p class="" style="font-size: 16px; padding: 10px;">
                        <h6> PHD Admission Application </h6>

                        A PhD is a long, in depth research exploration of one topic. By long we're typically talking about 6 years. By in depth we mean that at the end of the Ph.D. A candidate will be the world expert or close to it in your particular area.
                        He will know more than his advisor about his particular research area. He will know about his research than anyone at his school. By one we mean that by the last couple years of PhD, a candidate will typically be working on only one narrow problem. The PhD is not about breadth,
                        it is about depth. In recent years there has been a national debate about the nature and function of the decorate. Formely it was principally about the production of a thesis, creative work or publications. Now it is organized that the doctorate is equally about developing the skills and confidence to conduct research. Various national reports have underlined the importance of developing skills at all levels to enable Pakistan to complete in the global market. This debate is somtimes
                        presented as reflecting a tension between a focus on training and a focus on the products of research but FAST-NU regards the acquisition of research skills as an essential part of the doctoral experience culminating in the production of a major original research work. The doctorate is no longer simply a path for career academics; it is now a path of choice for many
                        who want the doctoral experience as part of their personal development in relation to a wide range of careers. The University has therefore designed a Doctoral program which provides the opportunity
                        to gain a good understanding of research techniques, a wider range of transferable skills and a deeper knowledge of the chosen subject area. As a consequence the program would have an
                        integrated taught program in research skills and discipline studies leading to the Master of Research as an intermediate award.

                    </p>
                </div>
                <div class="tab-pane transition fade scale" id="scaleup" role="tabpanel">
                    <fieldset>
                        <h6> Admission Requirement </h6>
                        <div class="">
                            <div class="container centered">
                                <p style="font-size:16px; ">
                                </p><ul style="list-style:none;">
                                    <li><i class="fe-icon-check-circle text-success" aria-hidden="true"></i>Eighteen years of education leading to MS degree with thesis relevant discipline</li>
                                    <li><i class="fe-icon-check-circle text-success" aria-hidden="true"></i>Minimum CGPA 3.00/4.00</li>
                                    <li><i class="fe-icon-check-circle text-success" aria-hidden="true"></i>GRE(Subject)</li>
                                    <li><i class="fe-icon-check-circle text-success" aria-hidden="true"></i>Interview with Ph.D Proposal</li>
                                </ul>
                                <p></p>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="tab-pane transition fade scaledown" id="scaledown" role="tabpanel">
                    <p class="text-muted"><p style="font-size: 18px; padding: 5px;">
                        <h6> Admission Process </h6>
                        <div class="container centered">
                        <p style="font-size:16px; ">
                        </p><ul style="list-style:none;">
                            <li><i class="fe-icon-check-circle text-success" aria-hidden="true"></i>A candidate may apply to the Registrar for provisional admission to the Ph.D. programme in any semester.</li>
                            <li><i class="fe-icon-check-circle text-success" aria-hidden="true"></i>There shall be a Selection Committee in the department as constituted by the relavent BPGS/ RAC on recommendation of the Head of the department.</li>
                            <li><i class="fe-icon-check-circle text-success" aria-hidden="true"></i>A candidate selected by the Selection Committee shall be provisionally admitted and may be required to pass the prerequisite non credit courses as prescribed by the Selection Committee.</li>
                        </ul>
                        <p></p>
                    </div>

                    </p>
                </div>



                <div class="tab-pane transition fade left" id="right" role="tabpanel">
                    <p class="text-muted"><p style="font-size: 18px; padding: 5px;">
                        <h6> Degree Requirements </h6>
                        <table class="table table-bordered" style="table-layout:fixed">
                            <thead>
                                <tr>
                                    <th>Area</th>
                                    <th>SCH</th>
                                </tr>
                            </thead>
                            <tbody id="bs_body">
                                <tr>
                                    <td>(a) Courses</td>
                                    <td>18</td>
                                </tr>
                                <tr>
                                    <td>(b) Research Thesis</td>
                                    <td>30</td>
                                </tr>
                                <tr>
                                    <td><b>Total</b></td>
                                    <td>48</td>
                                </tr>
                            </tbody>
                        </table>
                        For the award of PhD degree, the University complies with HEC guidelines and for further information you may consult the Department.

                </div>
            </div>
        </div>
    </div>



</section>
