
@{
    ViewBag.Title = "Programs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="py-5">
    <h2 class="h3 block-title text-center pt-3">Degree Programs<small><span class="font-weight-medium text-danger">*</span> All the Program Details mentioned below about the programs are correct upto the mark.</small></h2>
    <div class="pricing-plans pt-4">
        <div class="owl-carousel carousel-flush pt-2 owl-loaded owl-drag" data-owl-carousel="{ &quot;nav&quot;: false, &quot;dots&quot;: true, &quot;autoHeight&quot;: true, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;630&quot;:{&quot;items&quot;:2},&quot;991&quot;:{&quot;items&quot;:3},&quot;1200&quot;:{&quot;items&quot;:3}} }">
            <!-- Plan-->
            <!-- Pricing Plan-->
            <!-- Pricing Plan-->
            <div class="owl-stage-outer owl-height" style="height: 452.2px;">
                <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 958px;">
                    <div class="owl-item active" style="width: 319.067px;">
                        <div class="mb-30 pb-3">
                            <div class="card pricing-card border border-primary">
                                <div class="card-body text-center">
                                    @*<span class="badge badge-success">Best Offer</span>*@
                                    <h5 class="pt-3"> BSCS Program </h5>
                                    <ul class="list-icon d-table mx-auto pt-4 text-left">
                                        <li><i class="fe-icon-check-circle text-muted"></i> BS (CS) Degree program is of 133 credit hours, and spread over 4 years with 2 Semesters in each year. </li>
                                        <li><i class="fe-icon-check-circle text-muted"></i> BS (CS) in FAST-NU Lahore is a full week, Morning and afternoon program. </li>
                                        <li><i class="fe-icon-check-circle text-muted"></i> BS (CS) is 8-semester program. Admissions are announced in June and classes start from August every year. </li>
                                        <li><i class="fe-icon-check-circle text-muted"></i> Admission Schedule: Admissions in BSCS are announced in month of June. </li>
                                        <li><i class="fe-icon-check-circle text-muted"></i> The admission process will be announced by FAST-NU Lahore. </li>
                                    </ul>
                                </div>
                                <div class="card-footer text-center"><a class="btn btn-primary" href="/Layout/BSCSinfo"> Click for More Information </a></div>
                            </div>
                        </div>
                    </div>



                    <div class="owl-item active" style="width: 319.067px;">
                        <div class="mb-30 pb-3">
                            <div class="card pricing-card border border-primary">
                                <div class="card-body text-center">
                                    @*<span class="badge badge-warning">Most Popular</span>*@
                                    <h5 class="pt-3"> MSCS Program </h5>
                                    <ul class="list-icon d-table mx-auto pt-4 text-left">
                                        <li><i class="fe-icon-check-circle text-muted"></i> MS (CS) Degree program is of 36 credit hours, and spread over 2 years with 2 Semesters in each year. </li>
                                        <li><i class="fe-icon-check-circle text-muted"></i> The MS (CS) students are required to complete 2 core courses (6 credit hours) and 6 elective courses (18 credit hours), followed by a thesis (12 Credit Hours) to complete the MS degree. </li>
                                        <li><i class="fe-icon-check-circle text-muted"></i> MSCS in FAST-NU Lahore is a full week, afternoon program. Normally classes are arranged from 4:00 to 7:00 PM. </li>
                                        <li><i class="fe-icon-check-circle text-muted"></i> MSCS is 4-semester program. Admissions are announed in July and classes start from November every year. </li>
                                        <li><i class="fe-icon-check-circle text-muted"></i> Admission Schedule: Admissions in MS are announced in month of June. </li>
                                        <li><i class="fe-icon-check-circle text-muted"></i> The admission process will be announced by FAST-NU Lahore. </li>
                                    </ul>
                                </div>
                                <div class="card-footer text-center"><a class="btn btn-gradient" href="/Layout/MSCSinfo"> Click for More Information </a></div>
                            </div>
                        </div>
                    </div>



                    <div class="owl-item active" style="width: 319.067px;">
                        <div class="mb-30 pb-3">
                            <div class="card pricing-card border border-primary">
                                <div class="card-body text-center">
                                    @*<span class="badge badge-danger"> PHD Program  </span>*@
                                    <h5 class="pt-3"> PHD Program </h5>
                                    <ul class="list-icon d-table mx-auto pt-4 text-left">
                                        <li><i class="fe-icon-check-circle text-muted"></i>Eighteen years of education leading to MS degree with thesis relevant discipline</li>
                                        <li><i class="fe-icon-check-circle text-muted"></i>Minimum CGPA 3.00/4.00</li>
                                        <li><i class="fe-icon-check-circle text-muted"></i>GRE(Subject)</li>
                                        <li><i class="fe-icon-check-circle text-muted"></i>A candidate may apply to the Registrar for provisional admission to the Ph.D. programme in any semester.</li>
                                        <li><i class="fe-icon-check-circle text-muted"></i>There shall be a Selection Committee in the department as constituted by the relavent BPGS/ RAC on recommendation of the Head of the department.</li>
                                        <li><i class="fe-icon-check-circle text-muted"></i>A candidate selected by the Selection Committee shall be provisionally admitted and may be required to pass the prerequisite non credit courses as prescribed by the Selection Committee.</li>
                                    </ul>
                                </div>
                                <div class="card-footer text-center"><a class="btn btn-primary" href="/Layout/PHDinfo"> Click for more Information </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"></button><button type="button" role="presentation" class="owl-next"></button></div>
            <div class="owl-dots disabled"><button role="button" class="owl-dot active"><span></span></button></div>
        </div>
    </div>
</div>