@model Dictionary<long, List<WebProject_NetFramework.DbContext.DbModels.RoadMap>> 
@{
    ViewBag.Title = "RoadMap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="container py-5 mt-3">

    <h2 class="h3 block-title text-center mb-4"> Road Map of BSCS, MSCS and Phd Program <small> The Road Map of BSCS and MSCS is given below</small></h2>
   
    <div class="container">
        @foreach (var item in Model)
        {

            <div class="bg-white box-shadow px-3 px-sm-5 pt-5 text-center text-sm-left" style=" overflow:auto;">
                <h2 class="h3">Road Map of @(item.Key == 1 ? "BSCS" : item.Key == 2 ? "MSCS" : "PhD" )</h2>
                <div class="row pt-4">
                    @foreach (var rm in item.Value)
                    {
                        <div class="col-md-12 mb-4">
                            <dl>
                                <dt class="font-weight-bold"> @(rm.Name)</dt>
                                <dd class="text-sm">

                                    @Html.Raw(rm.Details)

                                </dd>
                            </dl>
                        </div>
                    }
                </div>
            </div>
        }
        </div>

</section>>

    @*<div class="bg-white box-shadow px-3 px-sm-5 pt-5 text-center text-sm-left">
            <h2 class="h3">Road Map of MSCS </h2>
            <div class="row pt-4">
                <div class="col-md-4 mb-4">
                    <div class="text-xl font-weight-medium text-primary mb-2">January 25, 2019</div>
                    <h3 class="h5 font-weight-bold pb-3">New gadgets and devices</h3>
                    <dl>
                        <dt class="font-weight-bold">09:30 – 12:00</dt>
                        <dd class="text-sm">
                            <span class="d-block font-weight-medium text-body pb-2"><i class="d-inline-block align-middle fe-icon-user"> </i>&nbsp;Vanessa Hudgens</span>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </dd>
                        <dt class="font-weight-bold">12:15 – 14:00</dt>
                        <dd class="text-sm">
                            <span class="d-block font-weight-medium text-body pb-2"><i class="d-inline-block align-middle fe-icon-user"> </i>&nbsp;William Smith</span>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </dd>
                        <dt class="font-weight-bold">14:00 – 16:00</dt>
                        <dd class="text-sm">
                            <span class="d-block font-weight-medium text-body pb-2"><i class="d-inline-block align-middle fe-icon-user"> </i>&nbsp;Sara Palson</span>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="text-xl font-weight-medium text-primary mb-2">January 26, 2019</div>
                    <h3 class="h5 font-weight-bold pb-3">Innovations in AI and AR</h3>
                    <dl>
                        <dt class="font-weight-bold">09:30 – 12:00</dt>
                        <dd class="text-sm">
                            <span class="d-block font-weight-medium text-body pb-2"><i class="d-inline-block align-middle fe-icon-user"> </i>&nbsp;James Corvinus</span>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </dd>
                        <dt class="font-weight-bold">12:15 – 14:00</dt>
                        <dd class="text-sm">
                            <span class="d-block font-weight-medium text-body pb-2"><i class="d-inline-block align-middle fe-icon-user"> </i>&nbsp;Benjamin Miller</span>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </dd>
                        <dt class="font-weight-bold">14:00 – 16:00</dt>
                        <dd class="text-sm">
                            <span class="d-block font-weight-medium text-body pb-2"><i class="d-inline-block align-middle fe-icon-user"> </i>&nbsp;Olivia Davis</span>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="text-xl font-weight-medium text-primary mb-2">January 27, 2019</div>
                    <h3 class="h5 font-weight-bold pb-3">Top Trends in Electronics</h3>
                    <dl>
                        <dt class="font-weight-bold">09:30 – 12:00</dt>
                        <dd class="text-sm">
                            <span class="d-block font-weight-medium text-body pb-2"><i class="d-inline-block align-middle fe-icon-user"> </i>&nbsp;Barbara Palson</span>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </dd>
                        <dt class="font-weight-bold">12:15 – 14:00</dt>
                        <dd class="text-sm">
                            <span class="d-block font-weight-medium text-body pb-2"><i class="d-inline-block align-middle fe-icon-user"> </i>&nbsp;Hinata Nakamura</span>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </dd>
                        <dt class="font-weight-bold">14:00 – 16:00</dt>
                        <dd class="text-sm">
                            <span class="d-block font-weight-medium text-body pb-2"><i class="d-inline-block align-middle fe-icon-user"> </i>&nbsp;Michael Davis</span>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>*@

    @*<div class="bg-white box-shadow px-3 px-sm-5 pt-5 text-center text-sm-left">
            <h2 class="h3">Road Map of PHD</h2>
            <div class="row pt-4">
                <div class="col-md-4 mb-4">
                    <div class="text-xl font-weight-medium text-primary mb-2">January 25, 2019</div>
                    <h3 class="h5 font-weight-bold pb-3">New gadgets and devices</h3>
                    <dl>
                        <dt class="font-weight-bold">09:30 – 12:00</dt>
                        <dd class="text-sm">
                            <span class="d-block font-weight-medium text-body pb-2"><i class="d-inline-block align-middle fe-icon-user"> </i>&nbsp;Vanessa Hudgens</span>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </dd>
                        <dt class="font-weight-bold">12:15 – 14:00</dt>
                        <dd class="text-sm">
                            <span class="d-block font-weight-medium text-body pb-2"><i class="d-inline-block align-middle fe-icon-user"> </i>&nbsp;William Smith</span>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </dd>
                        <dt class="font-weight-bold">14:00 – 16:00</dt>
                        <dd class="text-sm">
                            <span class="d-block font-weight-medium text-body pb-2"><i class="d-inline-block align-middle fe-icon-user"> </i>&nbsp;Sara Palson</span>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="text-xl font-weight-medium text-primary mb-2">January 26, 2019</div>
                    <h3 class="h5 font-weight-bold pb-3">Innovations in AI and AR</h3>
                    <dl>
                        <dt class="font-weight-bold">09:30 – 12:00</dt>
                        <dd class="text-sm">
                            <span class="d-block font-weight-medium text-body pb-2"><i class="d-inline-block align-middle fe-icon-user"> </i>&nbsp;James Corvinus</span>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </dd>
                        <dt class="font-weight-bold">12:15 – 14:00</dt>
                        <dd class="text-sm">
                            <span class="d-block font-weight-medium text-body pb-2"><i class="d-inline-block align-middle fe-icon-user"> </i>&nbsp;Benjamin Miller</span>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </dd>
                        <dt class="font-weight-bold">14:00 – 16:00</dt>
                        <dd class="text-sm">
                            <span class="d-block font-weight-medium text-body pb-2"><i class="d-inline-block align-middle fe-icon-user"> </i>&nbsp;Olivia Davis</span>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="text-xl font-weight-medium text-primary mb-2">January 27, 2019</div>
                    <h3 class="h5 font-weight-bold pb-3">Top Trends in Electronics</h3>
                    <dl>
                        <dt class="font-weight-bold">09:30 – 12:00</dt>
                        <dd class="text-sm">
                            <span class="d-block font-weight-medium text-body pb-2"><i class="d-inline-block align-middle fe-icon-user"> </i>&nbsp;Barbara Palson</span>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </dd>
                        <dt class="font-weight-bold">12:15 – 14:00</dt>
                        <dd class="text-sm">
                            <span class="d-block font-weight-medium text-body pb-2"><i class="d-inline-block align-middle fe-icon-user"> </i>&nbsp;Hinata Nakamura</span>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </dd>
                        <dt class="font-weight-bold">14:00 – 16:00</dt>
                        <dd class="text-sm">
                            <span class="d-block font-weight-medium text-body pb-2"><i class="d-inline-block align-middle fe-icon-user"> </i>&nbsp;Michael Davis</span>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>*@
