
@{
    ViewBag.Title = "Societies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bg-dark py-5" id="services">
    <div class="container pt-4" >
        <h2 class="h3 block-title text-white text-center px-3">Department of Computer Science has three societies in its department</h2>
        <div class="row pt-4 justify-content-center" text-align="center">

            

            <div class="col-lg-3 col-sm-6 mb-30 mr-5">
                <a class="d-block bg-white box-shadow text-decoration-none" href="#">
                    <img class="d-block w-100" src="~/Img/IEEE.jpg" alt="Branding &amp; identity">
                    <div class="p-4">
                        <h3 class="text-xl font-weight-bold mb-0"> IEEE </h3>
                        <p>
                            IEEE, an association dedicated to advancing innovation and technological 
                            excellence for the benefit of humanity, is the world’s largest technical professional society. 
                            The core purpose of IEEE is to foster technological innovation and excellence for the benefit of humanity.
                            IEEE will be essential to the global technical community and to technical professionals everywhere, and be 
                            universally recognized for the contributions of technology and of technical professionals in improving global conditions.
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30 ml-5 mr-5">
                <a class="d-block bg-white box-shadow text-decoration-none" href="/Layout/Staff">
                    <img class="d-block w-100" src="~/Img/ACM1.png" alt="UI / UX design">
                    <div class="p-4">
                        <h3 class="text-xl font-weight-bold mb-0"> ACM </h3>
                        <p>
                            FAST-ACM Student Chapter is actively working in collaboration with ACM USA, 
                            to promote the awareness of IT among students. Chapter has organized many activities like Industry Visits,
                            Programming Competitions, Seminars,and Mentorship for students.
                            The chapter has provided a platform for those students who want to enhance their knowledge and skill in different areas. Number
                            of opportunities are available for students to explore and to educate themselves for new opportunities. 
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30 ml-5 ">
                <a class="d-block bg-white box-shadow text-decoration-none" href="/Layout/Societies">
                    <img class="d-block w-100" src="~/Img/CSS.jpg" alt="Front-end development">
                    <div class="p-4">
                        <h3 class="text-xl font-weight-bold mb-0"> CSS </h3>
                        <p>
                            The Computer Science Society of FAST University is actively playing its role for the establishing and betterment of students.
                            It is providing full opportunities to its students by conducting market oriented seminars, on campus hiring by companies and conducting 
                            valuable trainings.
                            The society had arranged a number of events within University and had participated in many competitions, seminars, etc outside the University. 
                            In last year computer science society has organized lectures from different leading software houses.
                        </p>
                        

                    </div>
                </a>
            </div>
            @*<div class="col-lg-4 col-sm-6 mb-30">
            <a class="d-block bg-white box-shadow text-decoration-none" href="/Layout/RoadMap">
                <img class="d-block w-100" src="~/Img/img/homepages/digital-agency/services/ser3.jpg" alt="Digital strategy">
                <div class="p-4">
                    <h3 class="text-xl font-weight-bold mb-0"> Road Map </h3>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-30">
            <a class="d-block bg-white box-shadow text-decoration-none" href="/Layout/Campus">
                <img class="d-block w-100" src="~/Img/img/homepages/digital-agency/services/ser5.jpg" alt="Back-end development">
                <div class="p-4">
                    <h3 class="text-xl font-weight-bold mb-0"> Student Life </h3>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-30">
            <a class="d-block bg-white box-shadow text-decoration-none" href="/Layout/Program">
                <img class="d-block w-100" src="~/Img/img/homepages/digital-agency/services/ser6.jpg" alt="Mobile development">
                <div class="p-4">
                    <h3 class="text-xl font-weight-bold mb-0"> Programs Offer </h3>
                </div>
            </a>
        </div>*@


        </div>
    </div>
</section>